@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 90px; /* Decreased font size for mobile */
    font-family: "Open Sans", sans-serif;

    @include mobile {
      font-size: 20px; /* Further decreased font size for mobile */
      text-align: center;
      padding: 0 10px; /* Add padding to ensure the text does not touch the edges */
    }

    @include tablet {
      font-size: 40px; /* Adjusted font size for tablet */
      text-align: center;
      padding: 0 20px; /* Add padding to ensure the text does not touch the edges */
    }

    @include desktop {
      font-size: 60px; /* Adjusted font size for desktop */
      text-align: center;
      padding: 0 30px; /* Add padding to ensure the text does not touch the edges */
    }
  }

  .mountains,
  .planets,
  .stars {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .mountains {
    background-image: url("/mountains.png");
    z-index: 3;
  }

  .planets {
    background-image: url("/planets.png");
    z-index: 2;
  }

  .stars {
    background-image: url("/stars.png");
    z-index: 1;
  }

  @include mobile {
    .mountains,
    .planets,
    .stars {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @include tablet {
    .mountains,
    .planets,
    .stars {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  @include desktop {
    .mountains,
    .planets,
    .stars {
      background-size: cover;
    }
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
