@import "../../app.scss";
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;



  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;

    @include desktop {
      width: 300px;
    }

    @include mobile {
      width: 200px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: -1px 0;
        padding: 10px 20px;
        transition: color 0.5s;
        z-index: 1;
        color: white;

        @include desktop {
          font-size: 15px;
        }

        @include mobile {
          font-size: 15px;
        }

        &:hover {
          color: #caf0f8;
        }

        &:hover:before {
          transform: scaleY(1);
          opacity: 1;
        }

        &:hover:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }

  button {
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
