html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  scroll-snap-align: center;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  // outline: 1px solid white;
}

body {
  background: #0A0A0C;
  color: #caf0f8;
  
}


// a {
//   text-decoration: none;
//   font-weight: 600;
//   font-size: 18px;
//   position: relative;
//   display: block;
//   text-transform: uppercase;
//   margin: -1px 0;
//   padding: 10px 20px;
//   transition: color 0.5s;
//   z-index: 1;
// }

// a:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-top: 2px solid #caf0f8;
//   border-bottom: 2px solid #caf0f8;
//   transform: scaleY(6);
//   opacity: 0;
//   transition: transform 0.3s, opacity 0.3s;
// }

// a:after {
//   content: "";
//   position: absolute;
//   top: 2px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transform: scale(0);
//   opacity: 0;
//   transition: transform 0.3s, opacity 0.3s;
//   z-index: -1;
// }

// a:hover {
//   color: #fff;
// }

// a:hover:before {
//   transform: scaleY(1);
//   opacity: 1;
// }

// a:hover:after {
//   transform: scaleY(1);
//   opacity: 1;
// }

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet{
    @media (max-width: 1024px){
        @content;
    }

}@mixin desktop{
    @media (max-width: 1440px){
        @content;
    }

}